/* 全局图片样式设置 */
/* .vp-doc img {
  max-height: 50vh;
  width: auto;
  display: block;
  margin: 1.5rem auto;
} */

/* 图片说明文字样式 */
.vp-doc img+em {
  display: block;
  text-align: center;
  color: var(--vp-c-text-2);
  font-size: 0.9em;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}